* {
  margin: 0;
  padding: 0;
}

.App {
  margin: auto;
  padding: 16px;
  max-width: fit-content;
}

header {
  text-align: center;
  margin-bottom: 32px;
}

.dataTable {
  overflow-x: scroll;
}

table {
  border-collapse: collapse;
}

th {
  color: white;
  background-color: black;
  border-right: 1px solid white;
}

tr {
  background-color: lightgray;
}

tr:nth-of-type(even) {
  background-color: lightyellow;
}

td {
  border-right: 1px solid lightyellow;
}

tr:nth-of-type(even) td {
  border-right: 1px solid lightgray;
}

tr th:last-child, tr td:last-child {
  border-right: 0;
}

th, td {
  padding: 4px;
}